.spinner {
  @apply inline-block rounded-full;

  border-radius: 50%;

  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.8);

  animation: rotate 0.8s infinite linear;
}

.logo {
  @apply absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2;

  top: 52%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
